.logo {
  color: #ffffff;
}

body {
  padding-top: 54px;
}

nav {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}